@font-face {
    font-family: 'Squada One';
    src: url(Fonts/Squada_One/SquadaOne-Regular.ttf);
}

a {
    text-decoration: none;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    font-family: 'Squada One';
    font-style: italic;
    z-index: 9999;
}

#main-title-logo {
    position: relative;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: rgb(194, 194, 194);
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    transform: skew(-25deg) scaleY(1) scale(2.2);
    font-family: 'Squada One';
    font-weight: bold;
    letter-spacing: 0.2em;
    left: 0%;
    margin-top: 5%;
    margin-left: 5%;
    z-index: 2;
}
#main-title-logo::before {
    position: absolute;
    content: "PROJECT.D";
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    top: -0.02em;
    left: -0.02em;
    z-index: 2;
}


#about-title-logo {
    position: relative;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: rgb(194, 194, 194);
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    transform: skew(-25deg) scaleY(1) scale(1.5);
    font-family: 'Squada One';
    font-weight: bold;
    letter-spacing: 0.2em;
    left: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    z-index: 2;
}
#about-title-logo::before {
    position: absolute;
    content: "ABOUT.US";
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    top: -0.2vh;
    left: -0.2vw;
    z-index: 2;
}


#blogs-title-logo {
    position: relative;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: rgb(194, 194, 194);
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    transform: skew(-25deg) scaleY(1) scale(1.5);
    font-family: 'Squada One';
    font-weight: bold;
    letter-spacing: 0.2em;
    left: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    z-index: 2;
}
#blogs-title-logo::before {
    position: absolute;
    content: "BLOGS";
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    top: -0.2vh;
    left: -0.2vw;
    z-index: 2;
}



#provinces-title-logo {
    position: relative;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: rgb(194, 194, 194);
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    transform: skew(-25deg) scaleY(1) scale(1.5);
    font-family: 'Squada One';
    font-weight: bold;
    letter-spacing: 0.2em;
    left: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    z-index: 2;
}
#provinces-title-logo::before {
    position: absolute;
    content: "PROVINCES";
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    top: -0.2vh;
    left: -0.2vw;
    z-index: 2;
}

#tochigi-title-logo {
    position: relative;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: rgb(194, 194, 194);
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    transform: skew(-25deg) scaleY(1) scale(1.5);
    font-family: 'Squada One';
    font-weight: bold;
    letter-spacing: 0.2em;
    left: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    z-index: 2;
}
#tochigi-title-logo::before {
    position: absolute;
    content: "TOCHIGI";
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    top: -0.2vh;
    left: -0.2vw;
    z-index: 2;
}

#ibaraki-title-logo {
    position: relative;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: rgb(194, 194, 194);
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    transform: skew(-25deg) scaleY(1) scale(1.5);
    font-family: 'Squada One';
    font-weight: bold;
    letter-spacing: 0.2em;
    left: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    z-index: 2;
}
#ibaraki-title-logo::before {
    position: absolute;
    content: "IBARAKI";
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    top: -0.2vh;
    left: -0.2vw;
    z-index: 2;
}

#saitama-title-logo {
    position: relative;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: rgb(194, 194, 194);
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    transform: skew(-25deg) scaleY(1) scale(1.5);
    font-family: 'Squada One';
    font-weight: bold;
    letter-spacing: 0.2em;
    left: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    z-index: 2;
}
#saitama-title-logo::before {
    position: absolute;
    content: "SAITAMA";
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    top: -0.2vh;
    left: -0.2vw;
    z-index: 2;
}

#chiba-title-logo {
    position: relative;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: rgb(194, 194, 194);
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    transform: skew(-25deg) scaleY(1) scale(1.5);
    font-family: 'Squada One';
    font-weight: bold;
    letter-spacing: 0.2em;
    left: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    z-index: 2;
}
#chiba-title-logo::before {
    position: absolute;
    content: "CHIBA";
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    top: -0.2vh;
    left: -0.2vw;
    z-index: 2;
}

#tokyo-title-logo {
    position: relative;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: rgb(194, 194, 194);
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    transform: skew(-25deg) scaleY(1) scale(1.5);
    font-family: 'Squada One';
    font-weight: bold;
    letter-spacing: 0.2em;
    left: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    z-index: 2;
}
#tokyo-title-logo::before {
    position: absolute;
    content: "TOKYO";
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    top: -0.2vh;
    left: -0.2vw;
    z-index: 2;
}

#kanagawa-title-logo {
    position: relative;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: rgb(194, 194, 194);
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    transform: skew(-25deg) scaleY(1) scale(1.5);
    font-family: 'Squada One';
    font-weight: bold;
    letter-spacing: 0.2em;
    left: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    z-index: 2;
}
#kanagawa-title-logo::before {
    position: absolute;
    content: "KANAGAWA";
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    top: -0.2vh;
    left: -0.2vw;
    z-index: 2;
}

#cars-title-logo {
    position: relative;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: rgb(194, 194, 194);
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    transform: skew(-25deg) scaleY(1) scale(1.5);
    font-family: 'Squada One';
    font-weight: bold;
    letter-spacing: 0.2em;
    left: -5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    z-index: 2;
}
#cars-title-logo::before {
    position: absolute;
    content: "CARS";
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    top: -0.2vh;
    left: -0.2vw;
    z-index: 2;
}



#header-div {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    min-width:  1vw;
}
#top-menu-button-mobile {
    display: none;
}
body {
    display: block;
    background-color: rgba(0, 0, 0, 1);
    margin: 0;
    overflow: scroll;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-image: url('Images/light-streaks.png');
    background-attachment: fixed;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 15% 0%;
}
#index-body {
    display: block;
    background-color: rgba(0, 0, 0, 1);
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-image: url('Images/light-streaks.png');
    background-attachment: fixed;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 15% 0%;
}



#sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 20px;
}
#sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    font-family: 'Squada One';
    margin: auto;
    cursor: default;
}
.sidenav div {
    padding-left: 10px;
}
.sidenav-button{
    display: block;
    cursor: pointer;
}
#sidenav .sidenav-button:hover {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.001));
    cursor: pointer;
}
.sidenav-button-active {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.001));
    cursor: pointer;
}



.article {
    width: 90vw;
    height: fit-content;
    margin: auto;
    padding-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    text-align: center;
}
.article p {
    font-family: 'Squada One';
    font-size: 2.5em;
    text-align: center;
    color: white;
}
.article img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.article > svg {
    stroke: black;
}
.article button {
    background: none;
    border: none;
}
.article span p {
    word-wrap: nowrap;
    display: inline-block;
    color: white;

}
.article b {
    margin-top: 10%;
    font-size: 1.5em;
}
.article table, tr, td {
    border: 1px solid #ac0000;
    background-color: rgba(119, 119, 119, 0.123);
    backdrop-filter: blur(15px);
    margin: auto;
}


.section {
    width: 90vw;
    height: fit-content;
    margin-left: 160px; 
    padding-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    text-align: center;
}
.section p {
    font-family: 'Squada One';
    font-size: 2.5em;
    text-align: center;
    color: white;
}
.section img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.section > svg {
    stroke: black;
}
.section button {
    background: none;
    border: none;
}
.section span p {
    word-wrap: nowrap;
    display: inline-block;
}
.section b {
    margin-top: 10%;
    font-size: 1.5em;
}
.section table, tr, td {
    border: 1px solid #ac0000;
    background-color: rgba(119, 119, 119, 0.123);
    backdrop-filter: blur(15px);
    margin: auto;
}


.cls-1 {
    fill:none;
    stroke:white;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:20px;
    transition: 0.5s;
}
#back-link:hover .cls-1 {
    stroke:black;
}
#svg-text {
    opacity: 0%;
    transition: 0.4s;
    font-family: 'Squada One';
    font-size: 1em;
    width: fit-content;
    margin: auto;
    text-decoration: underline;
    color: #ffffff;
}
#back-link:hover #svg-text {
    opacity: 100%;
}

.background-image {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    overflow: visible;
    height: 100%;
}
.map-container {
    position: static;
    margin: 0%;
    margin-top: 0%;
    height: 90%;
    width: 50%;
    margin-top: -11%;
    margin-left: -10%;
    margin-right: 0%;
    padding-top: 0%;
    top: 0%;
    left: 0%;
    z-index: 1;
    overflow: visible;
}
.map-container #imgmap {
    object-fit: contain;
    overflow: visible;
    transform-origin: top left;
    max-height: 100%;
    max-width: 100%;
    scale: 55% 55%;
}

#gunma-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/gunma-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    opacity: 70%;
    overflow: visible;
}
#gunma-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/gunma-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    opacity: 70%;
    overflow: visible;
}

#tochigi-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/tochigi-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    opacity: 70%;
    overflow: visible;
}
#tochigi-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/tochigi-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#ibaraki-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/ibaraki-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#ibaraki-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/ibaraki-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#saitama-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/saitama-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#saitama-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/saitama-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#chiba-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/chiba-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#chiba-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/chiba-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#tokyo-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/tokyo-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#tokyo-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/tokyo-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#kanagawa-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/kanagawa-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#kanagawa-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/kanagawa-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#gunma-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/gunma-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    opacity: 70%;
    overflow: visible;
}
#tochigi-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/tochigi-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#ibaraki-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/ibaraki-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#saitama-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/saitama-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#chiba-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/chiba-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#tokyo-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/tokyo-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#kanagawa-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/kanagawa-selected.png');
    top: 0%;
    left: 0%;
    width: 67.5em;
    height: 67.5em;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    top: 0vh;
    left: 0vw; 
    width: fit-content;
    height: 18em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    margin: 0%;
    margin-top: -1%;
    margin-right: 5%;
    margin-left: 10%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    z-index: 2;
}
.menu::before {
    background-image: url('Images/light-streaks.png');
    background-size: cover;
    z-index: 1;
}
#title-menu {
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(172, 0, 0);
    border-radius: 5px;
    width: 9px;
    border: 2px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(100, 0, 0);
}

.menu-buttons {
    position: relative;
    margin-left: 1em;
    margin-top: 0.5em;
    width: 35em;
    height: 4em;
    background: linear-gradient(to right, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.01), rgba(1, 1, 1, 0.01)); /* Added a third stop for consistency */
    transition: background 0.5s ease;
}

.menu-buttons:hover {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.001)); /* Ensure same number of stops */
}
.menu-buttons > p {
    position: absolute;
    color: azure;
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1.5em;
    font-family: 'Squada One';
    letter-spacing: 0.1em;
}

#main-menu {
    display: block;
}

#gunma-province-data {
    display: none;
}
#tochigi-province-data {
    display: none;
}
#ibaraki-province-data {
    display: none;
}
#chiba-province-data {
    display: none;
}
#saitama-province-data {
    display: none;
}
#tokyo-province-data {
    display: none;
}
#kanagawa-province-data {
    display: none;
}

#province-list {
    display: none;
}
#cars-list {
    display: none;
}



#gunma-tracks {
    display: none;
}
#tochigi-tracks {
    display: none;
}
#saitama-tracks {
    display: none;
}
#ibaraki-tracks {
    display: none;
}
#kanagawa-tracks {
    display: none;
}

#gunma-section {
    display: none;
}
#tochigi-section {
    display: none;
}
#saitama-section {
    display: none;
}
#ibaraki-section {
    display: none;
}
#kanagawa-section {
    display: none;
}
#tokyo-section {
    display: none;
}
#chiba-section {
    display: none;
}

#ae86-section {
    display: none;
}
#fd3s-section {
    display: none;
}
#fc3s-section {
    display: none;
}
