@font-face {
    font-family: 'Squada One';
    src: url(Fonts/Squada_One/SquadaOne-Regular.ttf);
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    font-family: 'Squada One';
    font-style: italic;
    z-index: 9999;
}

#main-title-logo {
    position: relative;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: rgb(194, 194, 194);
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    transform: skew(-25deg) scaleY(1) scale(2.2);
    font-family: 'Squada One';
    font-weight: bold;
    letter-spacing: 0.2em;
    left: 0%;
    margin-top: 5%;
    margin-left: 5%;
    z-index: 2;
}
#main-title-logo::before {
    position: absolute;
    content: "PROJECT.D";
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(63, 63, 63));
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2em;
    top: -0.2vh;
    left: -0.2vw;
    z-index: 2;
}
#header-div {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    min-width:  1vw;
}
#top-menu-button-mobile {
    display: none;
}
body {
    display: block;
    background-color: rgba(0, 0, 0, 1);
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}
.background-image {
    position: relative;
    overflow: visible;
    height: 100vh;
}
.map-container {
    position: relative;
    transform-origin: top left; 
    transform: scale(0.55) translateY(-28%) translateX(68%);
    margin: 0%;
    top: 0;
    left: 10vw;
    z-index: 1;
    max-height: fit-content;
}
.map-container::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/light-streaks.png');
    top: 0%;
    left: -65vw;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 80%;
}

#gunma-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/gunma-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    opacity: 70%;
    overflow: visible;
}
#gunma-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/gunma-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    opacity: 70%;
    overflow: visible;
}

#tochigi-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/tochigi-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    opacity: 70%;
    overflow: visible;
}
#tochigi-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/tochigi-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#ibaraki-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/ibaraki-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#ibaraki-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/ibaraki-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#saitama-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/saitama-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#saitama-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/saitama-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#chiba-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/chiba-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#chiba-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/chiba-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#tokyo-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/tokyo-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#tokyo-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/tokyo-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#kanagawa-area:hover:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/kanagawa-cursor-hover.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#kanagawa-area:active:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/kanagawa-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#gunma-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/gunma-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    opacity: 70%;
    overflow: visible;
}
#tochigi-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/tochigi-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#ibaraki-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/ibaraki-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#saitama-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/saitama-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

#chiba-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/chiba-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#tokyo-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/tokyo-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}
#kanagawa-area-active::before {
    content: '';
    position: absolute;
    background-size: cover;
    background-image: url('Images/kanagawa-selected.png');
    top: 0%;
    left: 0%;
    width: 1080px;
    height: 1080px;
    max-height: 100%;
    z-index: -1;
    overflow: visible;
    opacity: 70%;
}

.menu {
    position: relative;
    display: auto;
    top: -170vh;
    left: -14vw;
    width: 46vw;
    height: 45vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    z-index: 2;
}
#title-menu {
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(172, 0, 0);
    border-radius: 5px;
    width: 9px;
    border: 2px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(100, 0, 0);
}

.menu-buttons {
    position: relative;
    margin-left: 1vw;
    margin-top: 1vh;
    width: 43vw;
    height: 10vh;
    background: linear-gradient(to right, rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.01));
}
.menu-buttons:hover {
    transition: background 2s ease-in-out;
    background: linear-gradient(to right, rgb(255, 0, 0, 0.5), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.001));
}
.menu-buttons > p {
    position: absolute;
    color: azure;
    margin-top: 3vh;
    margin-left: 2vw;
    font-size: 1.5vw;
    font-family: 'Squada One';
    letter-spacing: 0.2vw;
}

#main-menu {
    display: block;
}

#gunma-province-data {
    display: none;
}
#tochigi-province-data {
    display: none;
}
#ibaraki-province-data {
    display: none;
}
#chiba-province-data {
    display: none;
}
#saitama-province-data {
    display: none;
}
#tokyo-province-data {
    display: none;
}
#kanagawa-province-data {
    display: none;
}

#province-list {
    display: none;
}
#cars-list {
    display: none;
}
